body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    display: flex;
    height: calc(100vh - 40px);
    overflow: hidden;
    margin: 20px;
}
#brands {
    flex: 0 0 200px;
    padding: 10px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}
#models {
    flex-grow: 1;
    padding: 10px 10px 0px 10px;
    overflow-x: auto;
    overflow-y: auto;
}
#tableTitle {
    margin: 10px 0;
    text-align: center;
    font-size: 24px;
    color: #333;
}
.brand {
    cursor: pointer;
    padding: 8px 16px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 150px;
    background-color: #fff;
    color: #007BFF;
    text-align: center;
}
.brand.active {
    background-color: #007BFF;
    color: #fff;
}
.brand:hover {
    background-color: #007BFF;
    color: #fff;
}
table {
    width: max-content;
    border-collapse: collapse;
    position: relative;
}
th, td {
    border: 1px solid #ccc;
    padding: 3px;
    text-align: center;
    width: 30px;
    height: 16px;
    font-size: 12px;
}
th {
    background-color: #d0e7ff;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
    border: 2px solid #000;
}
td.highlighted {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
td.left-highlighted,
td.right-highlighted {
    background-color: #d0e7ff !important;
    color: #000 !important;
}
td.left-highlighted {
    position: sticky;
    left: 0;
    z-index: 1;
    box-shadow: 2px 0 2px -1px rgba(0, 0, 0, 0.4);
    border-left: 2px solid #000;
    width: 60px;
}
td.right-highlighted {
    position: sticky;
    right: 0;
    z-index: 1;
    box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.4);
    border-right: 2px солід #000;
}
tbody tr:nth-child(even) td {
    background-color: #f9f9f9;
}
tfoot tr {
    position: sticky;
    bottom: 0;
    background-color: #fff3cd;
    color: #000;
    z-index: 2;
    box-shadow: 0 -2px 2px -1px rgba(0, 0, 0, 0.4);
    border-top: 2px solid #000;
}
tfoot td {
    font-weight: bold;
    background-color: #fff3cd;
    border: 2px solid #000;
}
tfoot tr td:last-child {
    border-right: 2px solid #000;
}
.button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #007BFF;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
.button:hover {
    background-color: #007BFF;
    color: #fff;
}
::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
